.valglokale{
  width: 80%;
  margin: 0 auto;
  height: 40px;
  background-color: pink;
  margin: 20px 0;


  &__top{
    display: flex;
    justify-content: space-between;
  }

  &__heading{
    font-size: 18px;
  }

  &__expand{
    width: 10px;
    height: 10px;
    background-color: $blue;
  }

}
