
//basics
@import './_variables';
@import './_mixins';
@import './_fonts';

//components
@import './components/top';
@import './components/result';


//bits
@import './components/bits/map';
@import './components/bits/valglokale';

@import 'App';


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
}
